# All variables must be set in dev and staging. In prod, the TEST variables do not have to be set

# Debugging settings
DEBUG_MODE=true
DEBUG_MODE_LOCUST=false

# Openai Adapter settings
OPENAI_API_KEY=
MODEL_NAME=gpt-5-nano

# Locust settings are in the .env located in the lcoust folder

# Database settings PostgreSQL
POSTGRES_ADMIN_USER=
POSTGRES_ADMIN_PASSWORD=
CHAT_APP_PASSWORD=
CGPT_APP_PASSWORD=
CHAT_TEST_APP_PASSWORD=
CGPT_TEST_APP_PASSWORD=

# Database settings backend # Please substitute all ${VARIABLE_PLACEHOLDER} with the values defined above
DB_URL_CHAT=postgresql+psycopg://chat_context_app:${CHAT_APP_PASSWORD}@postgres:5432/chat_context_db
DB_URL_CGPT=postgresql+psycopg://cgpt_context_app:${CGPT_APP_PASSWORD}@postgres:5432/cgpt_context_db
DB_URL_CHAT_TEST=postgresql+psycopg://chat_context_test_app:${CHAT_TEST_APP_PASSWORD}@postgres:5432/chat_context_test_db
DB_URL_CGPT_TEST=postgresql+psycopg://cgpt_context_test_app:${CGPT_TEST_APP_PASSWORD}@postgres:5432/cgpt_context_test_db
CREATE_SCHEMA=true


# Upload files settings
# LOADED_FILES_PATH=/app_data/loaded_images
# UPLOAD_MAX_FILE_SIZE=100000000 # ca 100MB
# UPLOAD_ALLOWED_SUFFIXES=.pdf,.csv,.txt,.excel