:root{
    --color-darkness-0: #99BBE1;
    --color-darkness-1: #536880;
    --color-darkness-2: #283340;
    --color-darkness-3: #101A26;
    --color-darkness-4: #020408;
}

html, body, #root { height:100%; margin:0; font-family:system-ui; }
.app      { display:flex; height:100%; }
.sidebar  { width:220px; background:var(--color-darkness-4); color:#fff; padding:1rem; }
.title    { margin:0 0 .5rem; }
.nav      { display:flex; flex-direction:column; gap:.5rem; }
.navlink  { color:var(--color-darkness-0); text-decoration:none; }
.navlink.active { color:#fff; font-weight:600; }
.content  { flex:1; padding:1.5rem; overflow:auto; background: var(--color-darkness-3);}

h2 {color: #fff}
